.layout {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 40%;
  background-color: var(--tg-theme-secondary-bg-color);
}

.imageWrap {
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
  }
}

.title {
  margin-top: 3px;
  color: var(--tobody-theme-text-color);
}

.price {
  margin-top: 3px;
  font-size: 14px;
  color: var(--tobody-theme-hint-color);
}
