.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 40%;
  border-radius: 10px;
  background-color: var(--tg-theme-secondary-bg-color);
  overflow: hidden;
  position: relative;
  max-height: 234px;

  &:first-child {
    flex: 1 0 80%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(5px);
  padding: 4px 15px;
  border-radius: 5px;
  color: var(--tobody-theme-text-color);
}