.title {
    font-weight: 700;
    font-size: 24px;
}

.subtitle {
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
}

.description {
    margin-top: 10px;
    font-size: 16px;
    color: var(--tobody-theme-hint-color);
}